@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400&display=swap');


    
.body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}
nav{
    text-align: center;
    width: 620px;
    margin-top: 31.5px;
    margin-left: auto;
    margin-right: auto;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #FF0000;;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    
}

.menu li{
    display: inline;
    margin: 13.25px;
}


.main-content{
    text-align: center;
    
}

.main-header{
    height: auto;
    margin-left: 253px;
    margin-right: 253px;
    margin-top: 48px;
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.first-paragraph{
    width: 1145px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
} 

.second-paragraph{
    width: 1145px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    color: #373737;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.button{
    width: 191px;
    height: 51px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto; 
    background: #FF0000;
    border-radius: 4px;
    border: none;
    padding: 18px, 43.5px, 17px, 42.5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer{
    width: 1070px;
    margin-top: 82px;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}
.info-section{
    text-align: right;
    width: 465px;
    margin-left: 608px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}

